<% provide(:title, "About") %>

<div class = "display5">
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      <h1 class = "header">About</h1>
      <p>
        UI Movement started out as a newsletter that featured the best UI designs every day.
        The main real difference between UI Movement and other design inspiration sites, is that we focus exclusively on UI designs.
        <br>
        <br>
        The concept cought on when UI Movement was launched on Product Hunt and achieved more than 1,000 upvotes.
        It's since grown to 14,946 subscribers who are mainly designers, developers, and product people.
        <br>
        <br>
        Since the original, simple newsletter format, UI Movement has been updated to make for easier browsing and filtering.
        Each new design is tagged so that you can easily find the most popular design animations for whatever design element you're interested in.
        For example, here you can see the most popular map design animations.
        <br>
        <br>
        The designs on the site are submitted by the community and curated by myself.
        Most, but not all of the designs come from Dribbble, although UI Movement is not affiliated with Dribbble.
        <br>
        <br>
        UI Movement is build with Django on the back end and uses the Foundation framework on the front end. It's hosted on Digital Ocean.
        <br>
        <br>
        I'm always open to chat to real people. If you have questions, feedback, or just want to talk, you can email me or find me on Twitter.
      </p>

    </div>
  </div>
</div>
