<% provide(:title, "Sponsor us") %>

<div class = "display5">
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      <h2>Reach 14,946 designers, developers, and product people</h2>
      <p>
        The UI Movement weekly newsletter has 14,946 subscribers
        from respected global brands like Apple, Twitter, Spotify, and more.
        <br>
        Sponsor our newsletter to share your product or service with a relevant and highly engaged audience.
      </p>

      <h3>The stats as of September 2016:</h3>
      <ul>
        <li>
          10,296 subscribers
        </li>
        <li>
          41.2% Open Rate
        </li>
        <li>
          3.6% Click through rate*
        </li>
      </ul>

      <h3>Our Previous Sponsors</h3>
      <%= image_tag("hired.png", height: "50px", width: "50px") %>
      <%= image_tag("treehouse.png", height: "50px", width: "50px")%>

      <h3>Pricing</h3>
      <ul>
        <li>
          $299 per week of sponsorship
        </li>
        <li>
          $250 per week when four or more weeks are booked
        </li>
      </ul>

      <h3>What you get</h3>
      <p>
        Sponsors get a spot right at the top of the newsletter to share their message with a title (linked),
        description, and small image (linked). You can see an example of a previous newsletter with a sponsor here.
      </p>

      <h3>Let's work together</h3>
      <p>
        If you think we'd be a good fit and you'd like to sponsor our newsletter, please get in touch by emailing me at <b>ramy@silkpixels.com.</b>
      </p>
    </div>
  </div>
</div>
